<!DOCTYPE html>
<html>

<head>
    <title>simple_login - Profile page</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/underscore/underscore.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <% if (success.length) { %>
                <div class="col-xs-offset-1 col-xs-10">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Way to go!</strong> <%= success %>
                    </div>
                </div>
            <% } %>
            <div class="col-xs-offset-3 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Profile</p>
                        <p>Email: <%= user %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
